<footer>
    <div class="copyright">
        Tail Wag Treasures &copy; 2024
    </div>

    <div class="social-media">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
    </div>
</footer>
</body>
</html>