<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Tail Wag Treasures</title>
</head>
<body class="home-body">
    <header>
        <div class="logo">
            <a href="/">
            <img src="/images/Tail-Wag-Treasures-logos.jpeg" alt="Tail Wag Treasures Logo">
            </a>
        </div>

        <div class="slogan">
            <p>Paws, Claws, and Tail-Wagging Applause!</p>
        </div>

            <form class="search-bar" action="/toys/search" method="GET">
                    <input type="text" placeholder="Search..." name="search">
                    <button type="submit">Search</button>
            </form>
    
        <nav class="navigation-links">
            <a href="/">Home</a>
            <a href="/toys">Toys</a>
            <a href="/toys/new">Upload Toy</a>
            <%if(!user) {%>
                <a href='/users/new'>Sign Up</a>
                <a href='/users/login'>Login</a>
            <%} else {%>
                <a href='/users/profile'>Profile</a>
                <a href='/users/logout'>Logout</a>
            <%}%>
        </nav>
    </header>

    <% if(errorMessages.length > 0) {%>
        <% errorMessages.forEach(message=>{%>
            <div class='error'>
                <%=message%>
            </div>
            <%});%>
                <%}%>
    
                    <% if(successMessages.length > 0) {%>
    
                        <% successMessages.forEach(message=>{%>
                            <div class='success'>
                                <%=message%>
                            </div>
                            <%});%>
                                <%}%>