<%- include('../partials/header.ejs')%>

<div class="sell-header">
    <h1>Sell your new and used toys here</h1>
    <p>Got a toy that you don't want anymore? Just put it up for auction here. Just take a photo of the toy (including your furry friend if you would like), and fill out the rest.</p>
</div>

<div class="sell-container">
    <form action = '/toys' method = 'POST' class="sell-form" enctype="multipart/form-data">
        <div class="form-field">
            <label for="seller">Seller:</label>
            <input type="text" id="seller" name="seller" required>
        </div>

        <div class="form-field">
            <label for="condition">Condition:</label>
            <select id="condition" name="condition" required>
                <option value="" disabled selected>Please Select One</option>
                <option value="new">New</option>
                <option value="used">Used</option>
                <option value="slightly-used">Slightly Used</option>
                <option value="still-in-the-box">Still in the Box</option>
                <option value="very-used">Very Used</option>
            </select>
        </div>

        <div class="form-field">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
        </div>

        <div class="form-field">
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" required>
        </div>

        <div class="form-field">
            <label for="description">Details:</label>
            <textarea id="description" name="description" rows="5" required></textarea>
        </div>

        <div class="form-field">
            <label for="image">Image:</label>
            <input type="file" id="image" name="image" accept="image/*" required>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>


    <%- include('../partials/footer.ejs')%>