<%- include('./partials/header.ejs')%>

    <main class="content-container">
        <div class="quadrant top-left">
            <h1>Tail Wag Treasures</h1> 
            <h2>Want a toy? We got it. Want to sell a toy? We can sell it.</h2>
            <p>Go look at what we have in store now by clicking the 'Toys' button at the top!</p>
        </div>

        <div class="quadrant top-right">
            <img src="/images/top-right-dog.jpeg" alt="Dog Image 1">
        </div>

        <div class="quadrant bottom-left">
            <img src="/images/homepage-dog-small.jpg" alt="Dog Image 2">
        </div>
 
        <div class="quadrant bottom-right">
            <img src="/images/bottom-right-dog.jpg" alt="Dog Image 3">
        </div>
    </main>

    <%- include('./partials/footer.ejs')%>
